:root {
  --accent-color: #fcffb7;
}

html {
  background: linear-gradient(90deg, rgba(255,250,71,0.7) 0%, rgba(250,255,123,0.7) 100%);
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fdffd2;
  border: 1px solid #999;
  float: left;
  font-size: 28px;
  font-weight: bold;
  line-height: 46px;
  height: 46px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 46px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.board-row {
  display: flex;
  justify-content: center;
}

.game-board {
  margin: 2rem 0 2rem 0;
}

.game-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ol {
  padding: 0;
}

li {
  margin: 6px 0 6px 0;
}

li > button{
  width: 115px;
  margin-left: 8px;
  padding: 5px 6px;
  border: 1px solid #707070;
  border-radius: 3px;
  background-color: var(--accent-color);
}

li > button:hover {
  background-color: #fdffd2;
}

span {
  color: #5c6000;
}
